/* Обнуление стилей */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-family: Roboto;
	background-color: #477ae9;
	color: #fff;
}
/* =================================== */
/* Подключение шрифта */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* =================================== */
/* Дежурный класс */
._container {
	max-width: 1100px;
	margin: 0 auto;
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: rgb(146, 19, 129);
	height: 50px;
	padding: 15px;
	border-radius: 5px;
	font-size: 16px;
}
/* =================================== */
/* Стили входа и регистрации */
.subcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}
.sub-wrapper {
	border: 3px solid #fff;
	padding: 30px;
	display: inline-flex;
	min-width: 40%;
	flex-direction: column;
	align-items: stretch;
	border-radius: 25px;
}
.title {
	font-size: calc(28px + 18 * ((100vw - 320px) / (1280 - 320)));
	margin-bottom: 30px;
	font-weight: 700;
	text-align: center;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-bottom: 15px;
}
.form__input {
	height: 45px;
	border-radius: 5px;
	margin-bottom: 15px;
	border: none;
	font-size: 18px;
	padding: 10px;
}

.entry__buttons {
	display: flex;
	justify-content: space-between;
}
.form__button {
	background-color: rgb(146, 19, 129);
	flex: 0 0 45%;
	color: #fff;
	font-size: 18px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
}
.entry__register {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.form__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.form__item_file {
	justify-content: start;
}
.form__label_file {
	margin-right: 30px;
}
.form__item .form__input {
	margin: 0;
	flex: 0 0 60%;
}
.form__label {
	font-size: 24px;
	padding-right: 5px;
	font-weight: 300;
}

.registration__button {
	display: block;
	margin: 0 auto;
	padding: 0 5px;
}
@media (max-width: 992px) {
	.entry__buttons {
		flex-wrap: wrap;
		justify-content: center;
	}
	.entry__buttons .form__button {
		flex: 0 0 85%;
	}
	.entry__register {
		margin-bottom: 15px;
	}
}
@media (max-width: 526px) {
	.form__item {
		flex-direction: column;
		align-items: start;
	}
	.form__label {
		margin-bottom: 10px;
	}
	.form__item .form__input {
		width: 100%;
	}
}
/* =================================== */
/* Личный кабинет */
.sub-wrapper__cabinet {
	min-height: 100vh;
	width: 100%;
	padding: 20px;
	border: none;
}
.cabinet {
	border: 3px solid #fff;
	min-height: 93vh;
	display: flex;
}
.cabinet__photo {
	flex: 0 0 400px;
	margin-right: 30px;
}
.cabinet__avatar {
	width: 400px;
	height: 400px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	border-radius: 0 0 25px 0;
	background-color: #fff;
	overflow: hidden;
}
.cabinet__img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
.cabinet__info {
	flex: 0 1 100%;
	padding: 20px;
}
.cabinet__name {
	font-size: 24px;
	margin-bottom: 30px;
}
.cabinet__contacts {
}
.cabinet__title-contacts {
	font-size: 20px;
	margin-bottom: 15px;
}
.cabinet__list {
}
.cabinet__link {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin-bottom: 10px;
}
.cabinet__link:hover {
	text-decoration: underline;
}
.cabinet__telephon {
}
.cabinet__email {
}
.cabinet__buttons {
	display: inline-block;
	display: flex;
}
.cabinet__btn {
	margin-left: 15px;
}

.cabinet__btn:first-child {
	margin-left: 0;
}
@media (max-height: 440px) {
	.cabinet__avatar {
		border-bottom: none;
		border-radius: 0;
	}
}
@media (max-width: 1010px) {
	.sub-wrapper__cabinet {
		padding: 5px;
	}
	.cabinet__avatar {
		height: 100%;
	}
	.cabinet__photo {
		margin-right: 0;
		max-height: 400px;
	}
	.cabinet__info {
		position: relative;
		padding-bottom: 80px;
	}

	.cabinet__buttons {
		position: absolute;
		bottom: 20px;
		right: 20px;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.cabinet__btn {
		margin-bottom: 10px;
	}
}
@media (max-width: 768px) {
	.cabinet__photo {
		flex: 0 0 50%;
	}
	.cabinet__info {
		flex: 0 0 50%;
	}
	.cabinet__avatar {
		width: 100%;
	}
	.cabinet__buttons {
		position: static;
	}

	.cabinet__btn {
		margin: 10px 0px 10px 10px;
	}
}

@media (max-width: 680px) {
	.cabinet__info {
		padding-bottom: 10px;
	}

	.cabinet {
		flex-wrap: wrap;
	}
	.cabinet__avatar {
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		border-radius: 0 0 25px 0;
	}
	.cabinet__info {
		flex: 0 0 100%;
	}
	.cabinet__photo {
		flex: 0 0 90%;
	}
	.cabinet__buttons {
		justify-content: center;
		width: 100%;
		bottom: 0px;
		right: 0px;
	}
	.cabinet__btn:last-child,
	.cabinet__btn {
		margin: 10px 7.5px 0px;
	}
}
@media (max-width: 425px) {
	.cabinet__photo {
		flex: 0 0 100%;
	}
	.cabinet__avatar {
		border-right: 0;
		border-radius: 0;
	}
}

/* =================================== */
/* Панель администратора */

.admin-panel {
}
.admin-panel__row {
	padding: 15px;
}
.admin-panel__profile {
	height: 235px;
	display: flex;
	justify-content: stretch;
	overflow: hidden;
	border: 3px solid #fff;
	margin-bottom: 30px;
}
.admin-panel__photo {
	flex: 0 0 300px;
	overflow: hidden;
	border-right: 3px solid #fff;
}
.admin-panel__avatar {
	width: 100%;
	height: 100%;
}
.admin-panel__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.admin-panel__info {
	width: 100%;
	padding: 10px;
}
.admin-panel__name {
	font-size: 20px;
	margin-bottom: 15px;
}
.admin-panel__contacts {
	margin-bottom: 5px;
}
.admin-panel__title-contacts {
	font-size: 18px;
	margin-bottom: 10px;
}
.admin-panel__list li {
	margin-bottom: 7.5px;
}
.admin-panel__link {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}
.admin-panel__link:hover {
	text-decoration: underline;
}
.admin-panel__form {
	margin-top: 35px;
	height: 50px;
	position: relative;
}
.admin-panel__select {
	font-size: 16px;
}
.admin-panel__subbmit {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
@media (max-width: 992px) {
	.admin-panel__form {
		margin-top: 15px;
	}
	.admin-panel__subbmit {
		position: static;
		margin: 10px 0;
	}
}
@media (max-width: 675px) {
	.admin-panel__profile {
		height: 475px;
		flex-direction: column;
	}
	.admin-panel__photo {
		flex: 0 0 250px;
		border-right: 0;
		border-bottom: 3px solid #fff;
	}
	._container {
		max-width: 500px;
	}
	.admin-panel__form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.admin-panel__controlers {
		flex: 0 0 100%;
	}
	.admin-panel__subbmit {
	}
}
@media (max-width: 375px) {
	.admin-panel__photo {
		flex: 0 0 200px;
	}
	.admin-panel__select {
		margin-bottom: 5px;
	}
}
/* =================================== */
